---
layout: default
---

<div id="content-wrapper">  
<figure>
        <img src="{{site.baseurl}}_assets/img/elayna-rajsigl.jpg" alt="Photo of Elayna" width="200">
        <ul>
        <li><i class="fab fa-instagram"></i></li>
        <li><i class="fab fa-github"></i></li>
        <li><i class="fab fa-facebook"></i></li>
        </ul>
        <figcaption>It's pronounced Ray-sicle; like popsicle. In case you were curious.</figcaption>
</figure>

<h1>Elayna Rajsigl</h1>

<p class="grey-copy">
        I was born and raised in small town Chatham-Kent in the countryside. I moved to Windsor 3 years ago with my fiancé, but I also attended University of Windsor before officially moving here.  I have a Bachelor of Fine Arts and a Minor in Psychology. My art focuses on abstraction and multimedia of wet, dry materials. I love experimenting with new materials and see how they react to get different textures and dimension to my work.  </p>

<p>
After, graduating from ‘The U’ I started working for an organization called ‘Art InDeed’ where I provided art services to places like Hospice, Alzheimer’s Society, Roots 2 Wings, and many more local Windsor services. This experience then had me contemplating getting a Masters in Art Therapy so I could further help others through the process of creating. However, this practice isn’t very popular in Windsor and school is very sparse in Ontario, so I then started to consider Graphic Design. With Graphic Design I was very attracted to the fact that jobs are more available, and I would still be able to be creative. I really want to utilize my degree in Fine Arts and I think Graphic Design is a natural path to my learning. As a second year graphic design student, I really enjoy working in photoshop, illustration, and look forward to learning about HTML and CSS. </p>
</div>  
